@{
    ViewData["Title"] = "TipoContacto Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome TipoContacto-Area</h1>
    <input type="button" class="btn btn-success btn-block" value="Crear" onclick="gestionarTP(this.value)" />
    <button type="button" class="btn btn-info btn-block" onclick="showFindTP()">Consultar</button>
    <br />
    <table class="table table-responsive table-bordered" id="myDynamicTableTP" style="display:none">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tipo de contacto</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody id="tableBodyTP">
        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"> &#64; </span>
                        </div>
                        <input type="text" class="form-control" id="tp" placeholder="Escriba el tipo de contacto" aria-label="Username" aria-describedby="basic-addon1" required="required">
                        <input type="hidden" id="tpid" name="tpid" value="">
                    </div>
                    <div class="input-group mb-3" id="resultErrorTPDiv" style="display:none">
                        <p class="text-sm-start text-danger" id="resultErrorTP"></p>
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" onclick="guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<br />

@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            getallTiposCont('tps');
        };

        function showFindTP() {
            document.getElementById("myDynamicTableTP").setAttribute("style", "display:block");
        }

        function guardar() {
            var view = document.getElementById('ModalLabel').innerHTML;
            console.log('La vista es---->' + view);

            var val = document.getElementById('tp').value;
            document.getElementById("myDynamicTableTP").setAttribute("style", "display:none");

            if (val === '' || val.length == 0) {
                console.log('tipo de contacto vacio');
                document.getElementById("resultErrorTPDiv").setAttribute("style", "display:block");
                document.getElementById("resultErrorTP").innerHTML = "El tipo de contacto no puede ser vacio";
            } else if (val !== undefined) {
                document.getElementById("resultErrorTP").innerHTML = '';
                document.getElementById("resultErrorTPDiv").setAttribute("style", "display:none");
                
                if (view.toUpperCase().includes('CREAR')) {
                    saveTP(val);
                } else if (view.toUpperCase().includes('ACTUALIZAR')) {
                    updateTP();
                }
            }
        }

        function gestionarTP(value) {

            if (value == 'Crear') {
                document.getElementById("ModalLabel").innerHTML = 'Crear tipo de contacto';
                document.getElementById("tp").value = '';
                document.getElementById('tpid').value = '';
                $('#exampleModal').modal('show');
            }
            if (typeof value == 'number') {
                document.getElementById("ModalLabel").innerHTML = 'Actualizar tipo de contacto';
                getTP(value);
                $('#exampleModal').modal('show');
            }
        }
    </script>
}